/* ethical ads on rtd */
#ethical-ad-placement .ethical-sidebar {
    position: relative;
    background-color: var(--sy-c-surface);
    padding: 0.8rem;
    border-top: 1px solid var(--sy-c-divider);
  }